<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <include href="includes/header.htm"></include>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ @BASE }}">My Dating Website</a>
</nav>
<div class="container">
    <h1>Summary</h1>
<!--    <p>Text area</p>-->
<!--    <p>Pre value: {{@SESSION.pre}}</p>-->
    <hr>
<!--    <p>Text area</p>-->
<!--    <p>Pre value: {{@SESSION.pre}}</p>-->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Person Summary
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: {{@SESSION.member->getFirstName()}}
                        {{@SESSION.member->getLastName()}}
                    </li>
                    <li class="list-group-item">Gender: {{@SESSION.member->getGender()}}</li>
                    <li class="list-group-item">Age: {{@SESSION.member->getAge()}}</li>
                    <li class="list-group-item">Phone: {{@SESSION.member->getPhone()}}</li>
                    <li class="list-group-item">Email: {{@SESSION.member->getEmail()}}</li>
                    <li class="list-group-item">State: {{@SESSION.member->getState()}}</li>
                    <li class="list-group-item">Seeking: {{@SESSION.member->getSeeking()}}</li>
                    <check if="{{ isset(@SESSION.premium) }}">
                        <li class="list-group-item">
                            Interest:
                            {{ implode(@SESSION.premium->getIndoor(), ", ") }}
                            {{ implode(@SESSION.premium->getOutdoor(), ", ") }}

                        </li>
                    </check>
                </ul>
            </div>
        </div>

        <div class="col-lg-6">
            <img src="image/p2.jpg">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>

                    <p class="card-text">{{@SESSION.member->getBio()}}</p>

                </div>
            </div>
        </div>


    </div>

    <div>
        <button type="submit" class="btn btn-primary float-right">Contract Me</button>
    </div>


</div>
</body>
</html>